doctype 5
html
  head
    title morgan herlocker
    link(rel='stylesheet', href='/css/style.css')
  body
    h2
      a#home(href='/') ~/morgan herlocker
    block content
  footer
    p
      a(href='https://twitter.com/morganherlocker') twitter
      span(style='padding:5px')
      a(href='https://github.com/morganherlocker') github 
      span(style='padding:5px')
      a(href='/posts') other posts