body {
  padding-left: 25%;
  padding-right: 25%;
  padding-top:25px;
  font: 14px "Courier New", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#home {
  color: black; 
  text-decoration:none;
  background-color:black;
  padding: 5px;
  color: white;
}