extends layout

block content
  h1 morgan herlocker
  p I am a developer focussing on building the future of data analysis and geospatial analysis using open source software. I am the creator and maintainer of [turf](https://github.com/morganherlocker/turf), a node.js module that provides a fully featured geoprocessing engine api for anyone to use. 