extends layout

block content
  img(src='img/about.jpg')
  p Hi,
  p My name is Morgan Herlocker, and I am a coder living in Charleston, SC. I work to make data easy to understand and access.
  p I work a lot with maps, computational geometry, and predictive analysis algorithms, but I also enjoy biking, boating, reading comics, carpentry, and collecting hobbies I do not have time for  :)
  p If you would like to contact me, shoot me an email at morgan.herlocker@gmail.com, or send me a message on twitter to @morganherlocker. I would love to hear from you.

  p - Morgan